.pdf24Plugin-tbp-box { border: 1px solid silver; padding: 3px; }
.pdf24Plugin-tbp-input { width: 150px; font-size:smaller; }
.pdf24Plugin-tbp-submit { font-size:smaller; }
.pdf24Plugin-tbp-box td { font-size:smaller; }
.pdf24Plugin-tbp-box a { font-size:smaller; }