.pdf24Plugin-sbp {
	background-image:url(box_big.png);
	background-repeat: no-repeat;
	width:190px;
	height:125px;
	position:relative;
	padding:4px;
	font-family: Verdana, Arial;
}
.pdf24Plugin-sbp-title {
	position:absolute;
	left: 10px;
	top: 4px;
	text-align:left;
	width:110px;
	color:#fff;
	font-size: 14px;
	font-weight:bold;
}
.pdf24Plugin-sbp-submit {
	position:absolute;
	left: 9px;
	top: 72px;
}
.pdf24Plugin-sbp-submit input {
	width: 170px;
	height: 21px;
	background-color: #66A4DA;
	border:0px;
	border-left: 1px solid silver;
	border-bottom: 1px solid silver;
	color:#fff;
	font-weight:bold;
	padding:1px !important;
	cursor: pointer;
}
.pdf24Plugin-sbp-bl {
	position:absolute;
	left: 11px;
	top: 103px;
	width: 170px;
	font-size:11px;
	text-align: right;
}