.pdf24Plugin-sbp {
	background-image:url(box_big_hybrid.png);
	background-repeat:no-repeat;
	width:190px;
	height:125px;
	position:relative;
	font-family:Verdana, Arial;
	padding:4px;
}

.pdf24Plugin-sbp-title {
	position:absolute;
	left:10px;
	top:4px;
	text-align:left;
	width:110px;
	color:#fff;
	font-size:14px;
	font-weight:700;
}

.pdf24Plugin-sbp-sendto {
	position:absolute;
	left:10px;
	top:71px;
}

.pdf24Plugin-sbp-sendto input {
	width:169px;
	border:1px solid silver;
	font-size:smaller;
	height:22px;
	padding:2px;
}

.pdf24Plugin-sbp-submit {
	position:absolute;
	right:15px;
	top:100px;
}

.pdf24Plugin-sbp-submit input {
	background-color:#A1A1A1;
	border:0;
	border-left:1px solid silver;
	border-bottom:1px solid silver;
	color:#fff;
	font-weight:700;
	cursor:pointer;
	padding:2px 5px !important;
}

.pdf24Plugin-sbp-bl {
position:absolute;
left:11px;
top:103px;
font-size:11px;
}