.pdf24Plugin-cp-box { border: 1px solid silver; padding: 3px; }
.pdf24Plugin-cp-input { width: 150px; font-size:smaller; }
.pdf24Plugin-cp-submit { font-size:smaller; }
.pdf24Plugin-cp-box td { font-size:smaller; }
.pdf24Plugin-cp-box a { font-size:smaller; }